/* COMMON CSS START*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.container{
    width: 1170px;
}
/* COMMON CSS END*/


/* NAVBER PART START */
.navbar{
    padding: 10px 0;
    background-color: rgba(22, 12, 109, 0.5);
    position: absolute;
    width: 100%;
    z-index: 2;

}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
    margin-right: 66px;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #EFF4FA;
    transition: .5s;
    font-family: "Open Sans", sans-serif;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #1BBF00;
}

.navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
    margin-right: 0;
}
.navbar .contact_us_btn button{
padding: 14px 28px;
border-radius: 100px;
background-color: #1BBF00;
border: none;
font-size: 18px;
font-weight: 600;
line-height: 200%;
color: #FFFFFF;
font-family: "Open Sans", sans-serif;
}
@media (min-width: 992px) {
    .mb-lg-0 {
        margin-bottom: 8px !important;
    }
}
/* NAVBER PART END */

/* Banner PART START */
#banner{
    padding: 254px 0;
    background: url(../images/banner_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
#banner::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(106, 98, 197, 0.9);
    position: absolute;
    top: 0;
    z-index: -1;
}
#banner .banner_text h1{
    font-size: 84px;
    font-weight: 700;
    line-height: 100px;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    width: 962px;
    margin: auto;
}
#banner .banner_text p{
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    color: #E6E5F3;
    font-family: "Paprika", system-ui;
    text-align: center;
    width: 715px;
    margin: auto;
    padding: 20px 0 16px;
}
#banner .banner_text .banner_btn{
    display: flex;
    gap: 28px;
    justify-content: center;
}
#banner .banner_text .banner_btn .left_btn{
    padding: 20px 40px;
    background-color: #1BBF00;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    transition: .5s;
}
#banner .banner_text .banner_btn a{
    color: #FFFFFF;
}
#banner .banner_text .banner_btn .right_btn{
    padding: 20px 40px;
    border: 2px solid #1BBF00;
    
    border-radius: 100px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    transition: .5s;
}

#banner .banner_text .banner_btn .right_btn:hover{
    background-color: #1BBF00;
  
}
#banner .banner_text .banner_btn .left_btn:hover{
    /* background-color: #1BBF00; */
    border: 2px solid #1BBF00;
    background-color: rgba(106, 98, 197, 0.0);
}
/* Banner PART END */

/* COUNTER PART START */
#counter{
    padding: 282px 0;
    position: relative;
}
.counter_shap{
    position: absolute;
    right: 0;
    top: 0;
}
#counter .counter_items h2{
    font-size: 64px;
    font-weight: 800;
    line-height: 68px;
    color: #1BBF00;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
#counter .counter_items p{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #141135;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
#counter .counter_items{
    border-right: 2px solid rgba(79, 88, 95, 0.404);

}
#counter .col-lg-3:last-child .counter_items {
    border-right: 0;
}

/* COUNTER PART END */

/* CHOOSE US PART START */
#Choose_Us{
    padding: 100px 0 91px;
    background-color: rgb(249, 249, 249);
    position: relative;
}
.choose_shap{
    position: absolute;
    top: 0;
    left: 0;
    width: 384px;
}

#Choose_Us .chose_text_left{
    display: flex;
    gap: 37px;
}
#Choose_Us .chose_text_left .choose_img{
    width: 38px;
}
#Choose_Us .chose_text_left h3{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #726E9E;
    font-family: "Paprika", system-ui;
    width: 319px;
}
#Choose_Us .chose_text_left{
    /* padding: 32px 0; */
    margin-left: 28px;
    transition: .5s;
    
}
#Choose_Us .chose_text_left:hover{
    padding: 42px 146px 42px 28px;
    margin-left: 0;
    background-color: #FFFFFF;
    border-radius: 10px;
}
#Choose_Us .choose_text_right h4{
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    color: #141135;
    font-family: "Open Sans", sans-serif;
}
#Choose_Us .choose_text_right p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #726E9E;
    font-family: "Paprika", system-ui;
    width: 393px;
    padding: 9px 0 41px;
}
#Choose_Us .choose_text_right button{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #F9F9F9;
    font-family: "Open Sans", sans-serif;
    padding: 20px 40px;
    background-color: #1BBF00;
    border-radius: 100px;
    border: none;
}
#Choose_Us .choose_text_right{
    margin-left: 186px;
}
/* CHOOSE US PART END */

/* NAVBER PART START */
/* NAVBER PART END */

/* NAVBER PART START */
/* NAVBER PART END */